projects/Feed Back Form.json
{
  "name": "Feed Back Form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "User Feedback Form",
        "formDescription": "Feedback Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Type your Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "Type your correct Email here",
              "requiredField": true
            },
            {
              "fieldLabel": "Contact No.",
              "fieldType": "number",
              "placeholder": "Type your Phone No."
            },
            {
              "fieldLabel": "FeedBack",
              "placeholder": "Type your feedback here",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        -160
      ],
      "id": "2de25c22-b0df-40e6-919c-d368dee0e015",
      "name": "On form submission",
      "webhookId": "c5ac3b0a-a876-4071-9438-92b3cb88d592"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your Role is to determine if the feedback filled by the customer is a complaint a compliment or a feature addition request. The feedback is {{ $json.FeedBack }} \nYour resonse should be only one from the below\n1) Complain\n2) Compliment\n3) Feature Addition Request",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        -35
      ],
      "id": "0dfc9cbe-ffca-41aa-bb68-677ec2f6fb50",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        185
      ],
      "id": "7963a8d5-6fef-4dfe-a096-706587a48ff6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fu1NuVSFhOU1TW2I",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        -300
      ],
      "id": "44944ddc-23cb-4b59-9474-680ef2f35dc6",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Complain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "92d66c38-d1c1-4a34-bfa5-5d7ce0fb12d8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2428b4be-0793-497b-bc60-034a12b449c7",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Compliment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "65d64503-4401-49c1-a947-3962332b7d8b",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Feature Addition Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        -160
      ],
      "id": "95624536-ef6d-4468-8c24-af79a505dcca",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appWyQzbUD3OtSlJj",
          "mode": "list",
          "cachedResultName": "Customer Feedback",
          "cachedResultUrl": "https://airtable.com/appWyQzbUD3OtSlJj"
        },
        "table": {
          "__rl": true,
          "value": "tblkmNufm1fAW03Np",
          "mode": "list",
          "cachedResultName": "Complain",
          "cachedResultUrl": "https://airtable.com/appWyQzbUD3OtSlJj/tblkmNufm1fAW03Np"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Contact No.": "={{ $json['Contact No.'] }}",
            "Feedback": "={{ $json.FeedBack }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1020,
        -360
      ],
      "id": "131f7d13-b980-4f5a-bb6c-4d43a1caa0fb",
      "name": "Complain Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "vbDce9YrZqQ9wrRr",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appWyQzbUD3OtSlJj",
          "mode": "list",
          "cachedResultName": "Customer Feedback",
          "cachedResultUrl": "https://airtable.com/appWyQzbUD3OtSlJj"
        },
        "table": {
          "__rl": true,
          "value": "tbl0nngoaYSbwusac",
          "mode": "list",
          "cachedResultName": "Feature Addition Request",
          "cachedResultUrl": "https://airtable.com/appWyQzbUD3OtSlJj/tbl0nngoaYSbwusac"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Contact No.": "={{ $json['Contact No.'] }}",
            "Feedback": "={{ $json.FeedBack }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1020,
        40
      ],
      "id": "8f35d7c3-8367-41fd-a102-3ce1f6a81287",
      "name": "Add Feature Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "vbDce9YrZqQ9wrRr",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C094CQ5JRBQ",
          "mode": "list",
          "cachedResultName": "complain"
        },
        "text": "=Fix this feedback : {{ $('Switch').item.json['Full Name'] }} user {{ $('Switch').item.json['Email Address'] }} wants us to fix this feed back : \n{{ $json.fields.Feedback }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1240,
        -360
      ],
      "id": "4f076d64-39dc-430c-ad14-ada866fdc817",
      "name": "Send a message",
      "webhookId": "4caea1bc-8791-4448-a25b-01e6cf958952",
      "credentials": {
        "slackOAuth2Api": {
          "id": "rVA1qfJR8FJJobGN",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C094A81RESX",
          "mode": "list",
          "cachedResultName": "add-on"
        },
        "text": "={{ $json.fields['Full Name'] }}{{ $json.fields.Email }} wants to add this feature to our app :\n{{ $json.fields.Feedback }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1280,
        40
      ],
      "id": "9ffdfe58-c0ad-4f31-8013-4a5311877f1a",
      "name": "Send a message1",
      "webhookId": "4caea1bc-8791-4448-a25b-01e6cf958952",
      "credentials": {
        "slackOAuth2Api": {
          "id": "rVA1qfJR8FJJobGN",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Merge').item.json['Email Address'] }}",
        "subject": "Hey got your feedback",
        "message": "We are on it thanks for the feedback",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1500,
        40
      ],
      "id": "c0a6d6b7-a4c3-4231-bf86-e56d2c71cf04",
      "name": "Send a message2",
      "webhookId": "4a3531c7-ae33-4d4b-b846-a7e4b039770a",
      "credentials": {
        "gmailOAuth2": {
          "id": "iEQOEPSf9ezfSi4V",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Complain Data",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Add Feature Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complain Data": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Feature Data": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "18b243d5-f56d-40fb-909b-1d2a009e09a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "388b3dc6bf4a17d16394b37ff2e38183114efaa5eb9c9e6177aee4d15bf8fb26"
  },
  "id": "ECd6KaYoSzInd90R",
  "tags": []
}