projects/PineCone Embedding.json
{
  "name": "PineCone Embedding",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1v6xdg4V7WNZUmhRRx1NvzVzFbvmqMVsh",
          "mode": "list",
          "cachedResultName": "test workflow",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1v6xdg4V7WNZUmhRRx1NvzVzFbvmqMVsh"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        -20
      ],
      "id": "8f7726d3-a0ea-4f6c-bdb4-68a51d9edecd",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OJzwIkSMRORcwcpf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        -20
      ],
      "id": "ab3424c7-389f-4f9e-b02e-94eaa213862a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OJzwIkSMRORcwcpf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntest",
          "mode": "list",
          "cachedResultName": "n8ntest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        -20
      ],
      "id": "e08588c2-144f-490d-a8ca-b742d77399f2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "p15gy6yUp8ndq7Ei",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        220,
        200
      ],
      "id": "f4255b36-e6c9-4178-b41f-14c3c68950d3",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "i9lnFA9FORwtSVu3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        340,
        202.5
      ],
      "id": "9e00decc-b31d-4ff6-8a1c-f7d1192ecdf2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        420,
        400
      ],
      "id": "00c4a622-da20-4931-b995-7936f70c1bd6",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "391773d1-2860-4e6d-8acf-279f091f3e0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "388b3dc6bf4a17d16394b37ff2e38183114efaa5eb9c9e6177aee4d15bf8fb26"
  },
  "id": "Ga4m6uVBsXTPx7s9",
  "tags": []
}